/* Reset rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-family: sans-serif;
    font-weight: 400;
    background-image: url(./img/cork.png);
}

header{
    background-image: url(./img/wall.png);
}

img{
    display: block;
}

.title{
    font-size: 70px;
    font-family: cursive;
    text-align: center;
    padding: 20px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.card{
    background: white;
    position: relative;
}

.pin{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}